<html>

<head>
<title>Cachaceiro Logs</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script	 src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script	 src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script	 src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js" 	type="text/javascript"></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="index.js"></script>
    <style>
        table, td  {
          border: 1px solid grey;
          border-collapse: collapse;
          padding: 5px;
        }
    </style>
    
    
</head>

<body>
	<div style="height: 100%" ng-app="beerApp">
		<div id="beer" ng-controller="beerController" >
    <div class="row text-center"> 
        <button ng-click="setLanguage('pt')"> Português</button>
        <button ng-click="setLanguage('en')"> English</button>
        
    </div>
    
    <div class="row text-center"> 
        <input ng-model="searchText" size="40"> </input>
        <select ng-model="selectText">
            <option value="name">Nome</option>
            <option value="harmonization">Harmonizaçao</option>
            <option value="ingredients">Ingredientes</option>
            <option value="gl"> Grau alcoolico</option>
            <option value="general"> geral</option>
            
        </select>
        <button ng-click="search()"> Buscar</button>
        
    </div>

    <md-card ng-repeat="beer in beers" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{beer.name}}</span>
            <span class="md-subhead"> <strong>Descrição: </strong> {{beer.description}}</span>
             <span class="md-subhead"> <strong>Preço: </strong> {{beer.price|currency}}</span>
             <span class="md-subhead"> <strong>Teor Alcoolico (GL): </strong> {{beer.gl}}</span>
             <span class="md-subhead"> <strong>Temperatura: </strong> {{beer.minTemperature}}-{{beer.maxTemperature}}</span>
             <span class="md-subhead"> <strong>Ingredientes: </strong> <span ng-repeat="ingredient in beer.ingredients"> {{ingredient.name}},</span></span>
             <span class="md-subhead"> <strong>Harmonização: </strong> <span ng-repeat="harmonization in beer.harmonization"> {{harmonization.name}},</span></span>
             <span class="md-subhead"> <strong>História: </strong> {{beer.history}}</span>
         
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media" style="height:50%">
                 <img  ng-src="{{beer.picture}}" class="md-card-image" alt="{{beer.name}}">
            </div>
          </md-card-title-media>
        </md-card-title>
        
      </md-card>    
    
        </div>
    </div>
</body>
</html>
